@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hyphens {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin columns {
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid $color-grey-light-2;

  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid $color-grey-light-2;
}

//MEDIA QUERY MANAGER

//0 - 600px: Phone

//600 - 900px: Tablet-portrait

//900 - 1200px: Tablet-landscape

//1200 - 1800px: Desktop

//1800px + : Big Desktop

/*
$breakpoint aruement choices
- phone
- tab-port
- tab-land
- xl-desk
1em = 16px;
*/

//ORDER: Base + typography + general layout + grid + page layout + components

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == xl-desk {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
